{% extends 'profiles/base.html' %}
{% load static %}


{% block content %}
<div class="auth-wrapper">
    <h3>Авторизация </h3>
    <div class="auth-box">

       <form method="post" class="upper-form" id="id_form">
                    {% csrf_token %}
                    {{ form.as_p }}
<!--                    <div class="field-inputs">-->
<!--                        <div class="mb">-->
<!--                            <label for="Логин" class="form-label auth-add">Логин</label>-->
<!--                            <input type="text" class="auth-field" placeholder="Введите логин" name="uname" required>-->
<!--                        </div>-->

<!--                        <div class="mb">-->
<!--                            <label for="Пароль" class="form-label auth-add">Пароль</label>-->
<!--                            <input type="text" class="auth-field" placeholder="Введите пароль" name="uname" required>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="block-button">
                        <button type="submit" class="upperButton">Войти</button>
                    </div>
                    <div class="link-registration"><a href="#">Зарегистрироваться?</a> </div>
                </form>
    </div>
</div>
{% endblock %}